.order-wrapper {
  min-height: 600px;
  &.payment {
    padding-top: 40px;
  }
  &.final {
    margin-top: 10px;
    padding: 130px 10px 10px 10px;
    a:hover {
      color: #fff;
    }
  }
}
.title {
  color: $blue;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 12px;
}

.short-text {
  color: $blue;
  font-size: 16px;
}
.data-container {
  font-size: 25px;
  min-height: 200px;
}

.additional-info {
  width: 100%;
  padding: 3rem;
}

.info-title {
  font-size: 17px;
  font-weight: 800;
  margin: 0;
}
.detail-title {
  font-size: 40px;
  font-weight: 700;
  color: $blue;
  border-bottom: 2px solid $blue;
  padding-bottom: 5px;
}
.additional-info-item {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 30px;
  // border-bottom: 1px solid #b2b2b2;

  span {
    font-size: 25px;
  }
}
.additional-info-item-title {
  font-weight: 500;
  -webkit-box-flex: 1;
  flex: 1;
  color: $blue;
}
.additional-info-item-description {
  max-width: 50%;
  text-align: right;
  color: $blue;
}

.document-container {
  width: 100%;
  border: 1px solid $blue;
  border-radius: 10px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.document {
  color: $blue;
  height: 300px;
  overflow-y: auto;
}

.checkbox-container {
  margin-top: 30px;
  color: $blue;
}

.next {
  min-width: 250px;
}
.download {
  min-width: 320px;
  text-decoration: none;
}
.material-info {
  margin-top: 10px;
  font-size: 15px;
  color: $blue;
  font-weight: 700;
}
@media (max-width: 550px) {
  .additional-info {
    padding: 0;
    padding-top: 1rem;
  }
  .next {
    min-width: 150px;
  }
  .download {
    min-width: 220px;
  }
}
