.product-filter {
  padding-top: 10px;

  .product-filter-inner {
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    .product-filter-selects {
      display: flex;
      -webkit-box-pack: end;
      justify-content: flex-end;
      align-items: center;
      -webkit-box-flex: 1;
      flex: 1;
      font-weight: bold;

      & > div {
        color: $purple;
        margin-right: 10px;
      }
      .select-field-wrap {
        position: relative;
        margin-right: 8px;

        .browser-default {
          background: transparent;
          height: auto;
          border: none;
          color: $blue;
          -webkit-appearance: none;
          cursor: pointer;
          padding: 5px 20px 5px 5px;
          text-align: center;
          outline: none !important;
          font-weight: bold;
        }
      }
      .select-field-wrap:last-child {
        margin: 0;
      }
      .select-field-wrap:after {
        content: "";
        position: absolute;
        top: 10px;
        right: 6px;
        transform: rotate(-45deg);
        width: 6px;
        height: 6px;
        border-bottom: 1px solid $blue;
        border-left: 1px solid $blue;
      }
    }
  }
}
.product-filter-text {
  margin-top: 15px;
  color: #848484;
  font-size: 15px;
}
.product-filter-content {
  margin: 25px 0 10px 0;
  color:  #848484;
  padding: 10px 16px;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  transition: all linear 0.2s;
}