body {
  background-color: $purple !important;
  font-family: "Poppins-Regular" !important;
}
* {
  outline: none !important;
  margin: 0;
  padding: 0;
}
h6 {
  margin-bottom: 0 !important;
}
ul {
  padding-left: 0;
  list-style-type: none;
}
.plastplace-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 25px;
}
.wrapper-margin {
  padding: 20px 20px 0 20px;
  margin: 88px auto 0;
  width: 100%;
  max-width: 1160px;
}
.content-center {
  margin: 0 auto;
  width: 100%;
  max-width: 1135px;
  padding: 0 20px;
}

.button {
  border: 1px solid #848484;
  line-height: 1;
  font-weight: bold;
  padding: 0.75rem 1.3rem;
  display: inline-block;
  transition: all linear 0.2s;
  min-width: 120px;
  text-align: center;
  cursor: pointer;
}
.button-primary {
  background: $green;
  color: #ffffff;
  border: 1px solid $green;
}
.button-blue {
  background: $blue;
  color: #ffffff;
  border: 1px solid $blue;
}
.button-blue:hover {
  -webkit-box-shadow: 0px 0px 5px $blue !important;
  box-shadow: 0px 0px 5px $blue !important;
  color: #ffffff;
}
.button.no-border {
  border-color: transparent;
  background: transparent;
}
.button-outline-primary {
  border: 1px solid $green;
  color: $green;
}
.button-outline-blue {
  border: 1px solid $blue;
  color: $blue;
}
.button-primary:hover {
  -webkit-box-shadow: 0px 0px 5px $green !important;
  box-shadow: 0px 0px 5px $green !important;
  color: #ffffff;
  background-color: $green;
}
.button-outline-primary:hover {
  color: $green;
  -webkit-box-shadow: 0px 0px 5px $green !important;
  box-shadow: 0px 0px 5px $green !important;
  background: #ffffff !important;
}
.button-outline-blue:hover {
  color: $blue;
  -webkit-box-shadow: 0px 0px 5px $blue !important;
  box-shadow: 0px 0px 5px $blue !important;
  background: #ffffff !important;
}
.button-white {
  background-color: #ffffff;
}
.button-white:hover {
  background: #d9d9d9;
}
.button-white-outline {
  background: transparent;
  color: $green;
  border-color: $green;
}
.button-white-outline:hover {
  background: $green;
  color: #ffffff;
  border-color: $green;
}
.button-grey {
  border-color: #b2b2bb !important;
  color: #b2b2bb !important;
}
.button-grey:hover {
  border-color: #848484 !important;
  color: #848484 !important;
}
.help-block {
  color: red;
  margin-top: -15px;
  font-size: 12px;
  text-align: right;
  margin-bottom: 10px;
}
.input-field-block {
  width: 100%;

  .title-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;

    .help-block {
      margin: 0;
    }
  }
  .control-label {
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
    margin: 0 10px 0 0;
  }
  input.form-control,
  input.select-dropdown {
    outline: none !important;
    border: 1px solid #b2b2bb;
    padding: 10px 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 0;
    height: auto;
    line-height: 1;
  }

  textarea.form-control {
    border: 1px solid #b2b2bb;
    padding: 10px 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 0;
    height: 200px;
    line-height: 1.4;
    resize: none;
  }
}
.select-wrapper {
  position: relative;
}
input.select-dropdown {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}
.multiple-select-dropdown {
  top: 100% !important;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

.centered {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.form-control {
  border-radius: 0 !important;
}

.card-blc {
  display: flex;
  flex-wrap: wrap;
}
