@import "./paymentForm.scss";

.payment-wrapper {
  background: white;
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 35px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}
.payment-inner {
  padding: 80px 175px 50px;

  .payment-header {
    text-align: center;
    padding: 50px 0 10px;
    color: $blue;
    border-bottom: 0px;
    margin-bottom: 25px;

    .payment-title {
      font-family: "Poppins-Regular";
      font-weight: 900;
      font-size: 35px;
      padding: 10px;
    }
    .payment-label {
      font-weight: 900;
      font-size: 17px;
    }
  }
  .action-blc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

    .credit {
      font-size: 17px;
      line-height: 1;
      font-weight: 700;
      text-align: center;
      padding: 13px 20px;
      min-width: 300px;
      margin: 15px;
      background: $blue;
      color: #fff;
      border: 1px solid transparent;
      transition: all 0.2s linear;
    }
  }
}

.payment-items {
  padding: 50px;
  justify-content: center;
  .payment-item-selected {
    border: $blue solid 1px;
    border-radius: 5px;
  }

  .payment-item:hover {
    border: $blue solid 1px;
    border-radius: 5px;
  }
}

@media (max-width: 1440px) {
  .payment-inner {
    padding: 80px;
  }
}
@media (max-width: 991px) {
  .payment-inner {
    padding: 40px 20px;
  }
}
