@media screen and (min-width: 1025px) {
  .create-listing-container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .main-image-container {
    width: 80%;
    min-height: 300px;
  }
  .additional-image-container {
    width: 100%;
    height: 75px;
    padding-bottom: 6px;
  }
  .image-overlay {
    height: 75px;
  }
  .main-image {
    height: 300px;
  }
  .upload-right-container {
    padding-left: 0px !important;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .create-listing-container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .main-image-container {
    width: 90%;
    min-height: 300px;
  }
}

@media screen and (max-width: 768px) and (min-width: 451px) {
  .create-listing-container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .main-image-container {
    width: 90%;
    min-height: 300px;
  }
}
@media screen and (max-width: 450px) {
  .create-listing-container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .main-image-container {
    width: 100%;
    min-height: 200px;
  }
  .additional-image-container {
    max-height: 50px;
    padding-bottom: 5px;
  }
  .upload-video-button-container {
    padding-top: 20px;
  }
  .image-overlay {
    max-height: 50px;
  }
  .main-image {
    max-height: 200px;
  }
  .upload-right-container {
    padding-left: 30px !important;
  }
}

.create-listing-container {
  margin-top: 100px;
}

.create-listing-title {
  margin-top: 0px;
  color: $green;
}

.upload-file {
  display: none;
}

.additional-image-container {
  width: 100%;
  height: 75px;
  padding-bottom: 6px;
  display: flex;
  cursor: pointer;

  .add-image-button-container {
    width: 100%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    color: white;

    .add-image-button {
      font-size: 40px;
    }
  }
  .add-image-button-container:hover {
    background: $blue;
  }
}

.last-additional-image-container {
  padding-bottom: 0;
}

.addition-image {
  opacity: 1;
  transition: 0.3s ease;
}

.additional-image-container:hover .image-overlay {
  opacity: 1;
}

.additional-image-container:hover .addition-image {
  opacity: 0.4;
}

.image-overlay {
  opacity: 0;
  width: 100%;
  height: 75px;
  z-index: 5;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-image-overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  transition: 0.3s;
}
.main-image-container:hover {
  background: $blue;
}
.main-image-container:hover .main-image-overlay {
  opacity: 1;
}

.main-image {
  height: 300px;
  opacity: 1;
  transition: 0.3s ease;
}
.main-image-container:hover .main-image {
  opacity: 0.4;
}

.input-group-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-list {
  max-height: 400px;
}

.video-hint {
  font-size: 14px;
  color: white;
}

.video-name {
  font-size: 14px;
  color: $green;
}

.pdf-name {
  font-size: 14px;
  color: $green;
  margin-left: 10px;
}

.green-button {
  width: 100%;
  color: #ffffff;
  background-color: #56E39F;
  border: 1px solid #56E39F;
  border-radius: 0.25rem;
  padding: 0.5rem 1.5rem;
  text-align: center;
  display: inline-block;
  font-size: 0.81rem;
  transition: all linear 0.2s;
  box-shadow: 0 2px 4px 0 rgba(86, 227, 159, 0.8);
  cursor: pointer;
}

.green-button:hover {
  box-shadow: 0 4px 8px 0 rgba(86, 227, 159, 0.8);
  background-color: #ffffff;
  color: $blue;
}

.dropdown-new-button {
  font-size: 14px;
  border: 1px solid #aaaaaa;
}

.create-listing-input {
  font-size: 14px;
  border: 1px solid #aaaaaa;
  color: #666666;
}

.zip-code::-webkit-inner-spin-button, 
.zip-code::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.price-radio {
  margin-left: 0px !important;
  margin-top: 20px !important;
}

.auction-container {
  margin-left: 0px !important;
  margin-top: 15px !important;
}

.input-label {
  color: white;
  font-size: 16px;
}

.input-group-title {
  color: $green;
  font-size: 20px;
}

.upload-video-button-container {
  width: 100%;
  height: 150px;
  padding-bottom: 5px;

  .upload-video-button {
    height: 100%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    color: white;

    .icon {
      font-size: 40px;
      color: $green;
      text-align: center;
    }

    .title {
      font-size: 18px;
    }
  }

  .upload-video-button:hover {
    background: $blue;
  }
}

.upload-pdf-button-container {
  width: 100%;
  height: 150px;
  padding-top: 5px;

  .upload-pdf-button {
    height: 100%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    color: white;

    .icon {
      font-size: 40px;
      color: $green;
      text-align: center;
    }

    .title {
      font-size: 18px;
    }
  }

  .upload-pdf-button:hover {
    background: $blue;
  }
}

.upload-image-button-container {
  width: 100%;
  height: 100%;

  .upload-image-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .icon {
      font-size: 50px;
      color: $green;
      text-align: center;
    }

    .title {
      font-size: 18px;
      color: white;
    }
  }
}

.additional-remove-button {
  padding-left: 5px;
  font-size: 50px;
  color: white;
}